body {
    margin: 0;
    background-color:azure;
    width: 100%;
    height: 100vh;
}

.top-block {
    width: 100%;
    height: 20vh;
    background-color:black;
}

.center-block {
    width: 75%;
    height: 70vh;
    margin: 0 auto;
    background-color:cornflowerblue;
}

.bottom-block {
    width: 75%;
    height: 10vh;
    margin: 0 auto;
    background-color:darkgoldenrod;
}